.container {
  padding: 1rem 0 1.5rem 0;
  margin: 0;
  background: #e980ff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 60rem;
  margin: 0 auto;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.containerLayout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 1px 1.25rem;
  grid-template-areas: "logo nav";
}

.logo {
  grid-area: logo;
}

.navBar {
  grid-area: nav;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 1rem;
}
